<h1>Director #<%= @director.id %></h1>

<p><%= @director.name %></p>
<p><%= @director.bio %></p>
<img src="<%= @director.image_url %>">
<p><%= @director.dob %></p>

<a href="/directors">List of directors</a>
